<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Orden</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="content-custom">
	<form [formGroup]="orderForm" (ngSubmit)="changeStatus()" novalidate>
	<ion-grid class="grid-status">
		<ion-row>
			<ion-col class="col-data border-down" col-12 push-md-3 col-md-6 push-lg-3 col-lg-6 push-xl-3 col-xl-3>
				<span class="text-order">#{{order.id}}</span><br>
			</ion-col>
		</ion-row>
		<ion-row class="text-status">
			<ion-col class="col-data customer-data " col-12 push-md-3 col-md-6 push-lg-3 col-lg-6 push-xl-3 col-xl-3>
				<button type="button" class="reject-status" ion-button [outline]="rj.id == currReject.id ? false:true" round block *ngFor="let rj of rejectstatus" (click)="setRejectStatus(rj)">{{rj.msg}}</button>
			</ion-col>
		</ion-row>
	</ion-grid>
	<input type="hidden" name="rejectOrder" formControlName="rejectOrder">
	<div class="content-bottom">
		<button type="submit" *ngIf="order.status.value==3" [disabled]="!orderForm.valid || submitted" class="btn-change-status" ion-button round >Guardar</button>
	</div>
	</form>
</ion-content>
