// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  login:	  #ffffff,
  base:		  #00a8e1,
  border:	  #f7931d
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$searchbar-ios-input-height: 2rem;



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$searchbar-md-input-line-height: 2rem;
$tabs-md-tab-text-color: color($colors, login);
$tabs-md-tab-text-color-active: color($colors, login);



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

$color-placeholder: white;
$color-list-item: white;
$color-base: #00a8e1;

/*Morado*/
$color-status-1: #e11dda;
/*Amarillo*/
$color-status-2: #fee119;
/*Azul*/
$color-status-3: #59c7e8;
/*Verde*/
$color-status-4: #4cf94f;
/*Rojo*/
$color-status-5: #f43048;

$color-background: #f9f9f9;
$color-gray: #919191;
$color-border: #cecece;

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
