<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Orden #{{order.id}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="content-custom">
	<ion-grid>
		<ion-row>
			<ion-col class="col-data border-down" col-12 push-md-3 col-md-6 push-lg-3 col-lg-6 push-xl-3 col-xl-3>
				<span class="text-order">#{{order.id}}</span><br>
				<span class="text-products">{{order.products.length}} unid.</span><br>
				<button class="btn-change-status" (click)="showListProducts()" ion-button round >Detalle</button><br>
				<span class="text-order">B/.  {{order.price_total}}</span><br>
				<span *ngIf="order.status.value!=5" class="text-order text-status status-{{order.status.value}}">{{status_text(order)}}</span><br>
				<span *ngIf="order.status.value==5" class="text-order text-status status-{{order.status.value}}">{{order.comments.value}}</span><br>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="col-data customer-data border-down" col-12 push-md-3 col-md-6 push-lg-3 col-lg-6 push-xl-3 col-xl-3>
				<ion-icon ios="ios-person" md="md-person" class="customer-icon"></ion-icon>
				<div class="customer-info">
					<span class="customer-title">Persona de Contacto</span><br>
					<span class="customer-name">{{order.customer.full_name}}</span>
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="col-data customer-data" col-12 push-md-3 col-md-6 push-lg-3 col-lg-6 push-xl-3 col-xl-3>
				<ion-icon ios="ios-pin" md="md-pin" class="customer-icon"></ion-icon>
				<div class="customer-info">
					<span class="customer-title">Dirección</span><br>
					<span class="customer-name">
						{{order.address}}
					</span>
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="col-data" col-12 push-md-3 col-md-6 push-lg-3 col-lg-6 push-xl-3 col-xl-3>
				<button *ngIf="order.status.value==6" class="btn-change-status" (click)="changeStatus(3)" ion-button round >Aceptar</button>
				<button *ngIf="order.status.value==3" class="btn-change-status" (click)="changeStatus(4)" ion-button round >Entregado</button><br *ngIf="order.status.value==3">
				<button *ngIf="order.status.value==3" class="btn-change-status" (click)="rejectOrder()" ion-button round color="danger" >No Entregado</button><br>
				<button class="btn-change-status" (click)="viewMap()" ion-button round >Como Llegar</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
