.col-data{
	text-align: center;
	color: $color-gray;
	&.border-down{
		border-bottom: 1px solid $color-border;
	}	
	.text-order{
		font-size: 1.7rem;
		font-weight: bold;
		&.text-status{
			text-transform: uppercase;
			color: $color-status-3;
			
			&.status-5{/*Rechazado*/
				color: $color-status-5;
			}
			&.status-4{/*Entregado*/
				color: $color-status-4;
			}
			&.status-6{/*Por entregar*/
				color: $color-status-3;
			}
			&.status-3{/*Despachando*/
				color: $color-status-2;
			}
			&.status-1{/*Por aprobar*/
				color: $color-status-1;
			}
		}
	}
	.text-products{
		font-size: 2.3rem;
	}

	&.customer-data{
		text-align: left;
	}
	.customer-icon{
		font-size: 2.5rem;
		padding: 10px;
		vertical-align: middle;
		color: $color-base;
	}
	.customer-info{
		display: inline-block;
		vertical-align: middle;
		padding: 5px 10px;
		max-width: 85%;
		span.customer-title{
			font-size: 1.9rem;
			font-weight: bold;
		}
		span.customer-name{
			font-size: 1.7rem;
		}
	}
	.btn-change-status{
		font-size: 1.5rem;
		text-transform: capitalize;
	}
}
